html, body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
}

:root {
    /* FONTS */
    --roboto: 'Roboto', sans-serif;
    --ranchers: 'Ranchers', cursive;
    /* COLORS */
    /* ÉLÉMENTS */
    --container: calc(100% - 40px);
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: justify;
}

.container-margin {
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container) / 2);
    padding-right: calc(50% - var(--container) / 2);
}

.black {
    color: #fff;
    background-color: #000;
}

@media only screen and (min-width: 1040px) {
    :root {
        --container: 1000px;
    }
}