html, body {
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
}

:root {
    /* FONTS */
    --roboto: 'Roboto', sans-serif;
    --ranchers: 'Ranchers', cursive;
    /* COLORS */
    /* ÉLÉMENTS */
    --container: calc(100% - 40px);
}

.grid>div {
    border: 1px solid #ccc;
    background-color: #999;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.child {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
}

.child2 {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row: 1 / 3;
}